<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>_NOT_SHOWN_</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>#RenameDevices</key>
		<dict>
			<key>#_SB.PCI0.RP01.PXSX</key>
			<string>ARPT</string>
			<key>_SB.PCI0.RP02.PXSX</key>
			<string>XHC2</string>
		</dict>
		<key>#Sorted ACPI tables Count</key>
		<integer>1</integer>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-0-zpodd.aml</string>
			<string>SSDT-1-Cpu0Ist.aml</string>
			<string>SSDT-2-CpuPm.aml</string>
			<string>SSDT-3-SataTabl.aml</string>
			<string>SSDT-4-SaSsdt.aml</string>
			<string>SSDT-5-SgPeg.aml</string>
			<string>SSDT-6-CppcTabl.aml</string>
			<string>SSDT-7-Cpc_Tabl.aml</string>
			<string>SSDT-8-OptTabl.aml</string>
			<string>SSDT-x2_0-ApIst.aml</string>
			<string>SSDT-x2_1-Cpu0Cst.aml</string>
			<string>SSDT-x2_2-ApCst.aml</string>
		</array>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>#Patches count</key>
			<integer>5</integer>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SuspendOverride</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>ResetAddress</key>
		<string>0x0000</string>
		<key>ResetValue</key>
		<string>0x0000</string>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<integer>250</integer>
			<key>#DoubleFirstState</key>
			<false/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>0</integer>
			<key>#MinMultiplier</key>
			<integer>0</integer>
			<key>#PLimitDict</key>
			<integer>0</integer>
			<key>#PluginType</key>
			<integer>1</integer>
			<key>#UnderVoltStep</key>
			<integer>0</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>DoubleFirstState</key>
			<true/>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<false/>
			<key>NoOemTableId</key>
			<true/>
			<key>UseSystemIO</key>
			<true/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-0-zpodd.aml</string>
			<string>SSDT-1-Cpu0Ist.aml</string>
			<string>SSDT-2-CpuPm.aml</string>
			<string>SSDT-3-SataTabl.aml</string>
			<string>SSDT-4-SaSsdt.aml</string>
			<string>SSDT-5-SgPeg.aml</string>
			<string>SSDT-6-CppcTabl.aml</string>
			<string>SSDT-7-Cpc_Tabl.aml</string>
			<string>SSDT-8-OptTabl.aml</string>
			<string>SSDT-x2_0-ApIst.aml</string>
			<string>SSDT-x2_1-Cpu0Cst.aml</string>
			<string>SSDT-x2_2-ApCst.aml</string>
		</array>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#CustomLogo</key>
		<string>_NOT_SHOWN_</string>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>#NeverHibernate</key>
		<false/>
		<key>#StrictHibernate</key>
		<false/>
		<key>#Timeout</key>
		<string>_NOT_SHOWN_</string>
		<key>Arguments</key>
		<string>-v -f -ath9565</string>
		<key>CustomLogo</key>
		<string>Theme</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0x80000000</string>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
		<key>flagstate</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>99768</integer>
		<key>#HWPEnable</key>
		<false/>
		<key>#HWPValue</key>
		<integer>0</integer>
		<key>#QEMU</key>
		<false/>
		<key>#TDP</key>
		<false/>
		<key>#TurboDisable</key>
		<false/>
		<key>#UseARTFrequency</key>
		<false/>
		<key>EnabledCores</key>
		<integer>4</integer>
		<key>FrequencyMHz</key>
		<integer>1995</integer>
		<key>QPI</key>
		<integer>0</integer>
		<key>SavingMode</key>
		<integer>255</integer>
		<key>Type</key>
		<string>0x0705</string>
	</dict>
	<key>ConfigName</key>
	<string>config2</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<integer>3</integer>
			<key>#ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>3</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0000</string>
			<key>IMEI</key>
			<string>0x0000</string>
			<key>IntelGFX</key>
			<string>0x0000</string>
			<key>LAN</key>
			<string>0x0000</string>
			<key>NVidia</key>
			<string>0x0000</string>
			<key>SATA</key>
			<string>0x0000</string>
			<key>WIFI</key>
			<string>0x0000</string>
			<key>XHCI</key>
			<string>0x0000</string>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>LpcTune</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1b,0x0)</key>
			<dict>
				<key>AFGLowPowerState</key>
				<data>
				AQAAAA==
				</data>
				<key>MaximumBootBeepVolume</key>
				<data>
				AA==
				</data>
				<key>PinConfigurations</key>
				<data>
				AA==
				</data>
				<key>layout-id</key>
				<data>
				AwAAAA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
			<key>NameEH00</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Apple</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>B12EC0F1-8BE5-4BD4-A8EA-0FA8382B8C4F</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Microsoft</string>
					<key>Ignore</key>
					<false/>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>78C7965A-90D8-4B72-AD44-011D9E1F3630</string>
					<key>VolumeType</key>
					<string>Internal</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>ShowOptimus</key>
		<true/>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>newyear</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes (vbo), 2 ports only (RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgAmCgEDAwMAAAACAAAwAQAAYAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				BgAmCgEDAgIAAAACAAAwAQAAkAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>0x0a260006 disable 0204 port, change 0105 DP port to 0204 HDMI (RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQUJAAAEAACHAAAAAgQJAAAEAACHAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AgQJAAAIAACHAAAA/wAAAAEAAABAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSI=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yI=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02521600J9GDQPCB</string>
		<key>ROM</key>
		<data>
		EAjPLbYt
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP114.88Z.0185.B00.1809171422</string>
		<key>Board-ID</key>
		<string>Mac-06F11FD93F0323C5</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02521600J9GDQPCB</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>187.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,4</string>
		<key>SerialNumber</key>
		<string>C02PR0M5G8WL</string>
		<key>SmUUID</key>
		<string>4CC305B7-BEEE-40FA-A6B1-FCD20D2DB62D</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>311CA6D2-1C2F-4DB0-A4C3-0E64FFC4455D</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>NoCaches</key>
		<true/>
	</dict>
</dict>
</plist>
